## Visual Studio user/service files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## MSBuild / dotnet intermediates
*.tlog
*.lastbuildstate
*.ilk
*.pdb
*.idb
*.obj
*.exe
*.dll
*.cache

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## ReSharper / other tools
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## OS files
Thumbs.db
.DS_Store
